.DS_Store
*.iml
.gradle/
.idea/
local.properties
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
*.jks
*.keystore
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
